name: Build

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: write
  id-token: write
  pages: write

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build MrKWatkins.Ast
        uses: MrKWatkins/dotnet-build@main
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        with:
          name: MrKWatkins.Ast
          directory: src

      - name: Build Examples
        uses: MrKWatkins/dotnet-build@main
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        with:
          name: Examples
          directory: examples
          coverage-assembly-filters: -MrKWatkins.Ast

      - name: Build Documentation
        uses: MrKWatkins/writerside-build@main
        with:
          instance: MrKWatkins.Ast